{% extends 'object_detection/base.html' %}

{% block content %}
<h1>Приборная доска {{ request.user }}</h1>

<p>На странице представлены изображения для обнаружения объектов загруженные на сайт пользователем {{ request.user }}.</p>

{% if request.user.is_authenticated %}

<ul class="list-articles">
        {% for i in image_feeds %}
                {% autoescape on %}
                {{p.content|linebreaks|truncatewords:50}}
                {% endautoescape %}
                                <div class="clear"></div>
                                {% if i.image %}
                                    <p><img class="img-article-left thumb" src="{{ i.image.url }}"><a href="{{ i.get_absolute_url }}">{{ i.title }}</a></p>
                                {% endif %}
                                <p>{{ i.text|safe }}</p>
                                <hr>
                            </li>
        {% endfor %}
</ul>
{% endif %}
{% endblock %}