{% extends 'object_detection/base.html' %}

{% block content %}
<h1>Приборная доска {{ request.user }}</h1>

<p>На странице представлены изображения для обнаружения объектов загруженные на сайт пользователем {{ request.user }}.</p>

{% if request.user.is_authenticated %}
<p>Статистика обработанных изображений</p>
<table class="table">
    <tr>
        <td>
        {% if chart %}
            <img src="data:image/png;base64,{{ chart|safe }}" alt="Chart">
        {% endif %}
        </td>
        <td>
        {% if chart_stat %}
            <img src="data:image/png;base64,{{ chart_stat|safe }}" alt="Chart">
        {% endif %}
        </td>
    </tr>
</table>
<hr>
<a href="{% url 'add_image_feed' %}" class="btn btn-primary mb-3">Add Image</a>
<hr>
    {% for i in image_feeds %}
        <h5 class="card-title">{{ i.image }}</h5>
        <p class="thumb">
        <a href="{{ i.image.url }}" target="_blank">
            <img class="img-article-left thumb" src="{{ i.image.url }}" alt="Card image cap">
        </a>
            <table class="table">
            <tr>
            {% for obj in i.detected_objects.all %}
                {% if obj.processed_image %}
                    <td>
                        <a href="{{ obj.processed_image.url }}" target="_blank">
                            <img class="img-article-left thumb" src="{{ obj.processed_image.url }}" alt="Processed Image">
                        </a>
                        <p class="table_text">Обнаружено: {{ obj.object_type }} - {{ obj.confidence|floatformat:2 }}</p>
                        <p class="table_text">Метод обнаружения: {{obj.method_detected}}</p>
                    </td>
                {% endif %}
            {% endfor %}
            </tr>
            </table>
        {% current_time %}

        <a href="{% url 'process_feed' i.id %}" class="btn btn-primary">Распознать</a>
        <div class="clear"></div>
        <p></p>
        <a href="{% url 'delete_image' i.id %}" class="btn btn-primary">Удалить</a>
        <div class="clear"></div>

        <p> {{ i.pk }} </p>
<!--        <form action="{% url 'delete_image' i.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Delete</button>

        </form>
        </p>
-->
        <hr>

    {% endfor %}
{% endif %}

{% endblock %}