{% extends 'object_detection/base.html' %}
{% load detection_tag %}

{% block content %}
<h1>Добро пожаловать на сайт распознования объектов</h1>

<p>веб приложение, которое позволит пользователям применять предобученную модель для обнаружения и классификации
объектов на фото.</p>

{% if request.user.is_authenticated %}
    <p>Вы вошли как {{ request.user }}</p>
    <ul class="list-articles">
            {% for i in image_feeds %}
                <li><h2>{{ p.user }}</h2>
                    {% autoescape on %}
                    {{p.content|linebreaks|truncatewords:50}}
                    {% endautoescape %}
                    <div class="clear"></div>
                    {% if i.image %}
                        {{ i.image.url }}
                        <a href="{{ i.image.url }}" target="_blank">
                            <img class="img-article-left thumb" src="{{ i.image.url }}" alt="Card image cap">
                        </a>

                        <a href="{% url 'image_detect' i.id %}">
                            <img class="img-article-left thumb" src="{{ i.image.url }}" alt="Card image cap">
                        </a>
                        <p>{{ location }}</p>
                        <div>{% include "geomap/common.html" %}</div>
                    {% endif %}
                    <p>{{ i.text|safe }}</p>
                    <hr>
                </li>
            {% endfor %}
    </ul>
{% endif %}
{% endblock %}