{% extends 'object_detection/base.html' %}
{% load detection_tag %}

{% block content %}
<h1>Добро пожаловать на сайт распознования объектов</h1>

<p>Веб приложение, которое позволяет применять предобученные модели для обнаружения и классификации
объектов на фото.</p>

<div>{% get_map request.user.id %}</div>
{% if request.user.is_authenticated %}
<div class="container-fluid">
    <h2>Ваши изображения</h2>
    <div class="container">
        <div class="row text-center">
            {% for i in image_feeds %}
                <div class="col border bg-body-secondary">
                    <p class="text-center fs-6">{{ i.image.url }}<br></p>
                     <a href="{% url 'image_detect' i.id %}">
                        <img src="{{ i.image.url }}" alt="..." class="w-25">
                     </a>
                     <p class="text-start fs-6">
                        Координаты: {{ i.lat }}, {{i.lon}}<br>
                        Описание: {{ i.description }}
                     </p>
                </div>


            {% endfor %}
        </div>
    </div>
</div>

{% endif %}
{% endblock %}