{% extends 'object_detection/base.html' %}

{% if request.user.is_authenticated %}
{% block content %}
   <ul>
       {% for i in image_detect %}
           <li>
                        <a href="{{ i.processed_image.url }}" target="_blank">
                            <img src="{{ i.url }}" alt="Processed Image">
                        </a>
                 <p>1111 {{ i.processed_image.url }}</p>
                        <p>2222 {{ i.processed_image }}</p>
           </li>
       {% endfor %}
   </ul>
{% endblock %}
{% endif %}