{% extends 'base.html' %}

{% block content %}
<h1>{{ advertisement.title }}</h1>

<p>Объявление от: {{ advertisement.author.username }}</p>
<p>{{ advertisement.content }}</p>

{% if advertisement.photo %}
<p class="photo">
<img src="{{ advertisement.photo.url }}" alt="Advertisement image">
</p>
{% endif %}


{% if advertisement.author == user %}
<a href="{% url 'board:edit_advertisement' advertisement.pk %}">Edit</a>

<a href="{% url 'board:delete_advertisement' advertisement.pk %}">Delete</a>
{% endif %}


<a href="{% url 'board:advertisement_list' %}">Back to list</a>

{% endblock %}